.env
.env.local
.env.dev
.env.prod
venv/
.joblib
new-env/
env/
.gitignore
.DS_Store
logfile
.vscode/
backend/venv

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dll

# Ignore node_modules and build files for React
frontend/node_modules/
frontend/build/
run_docker.sh
