<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <a href="{% url 'login' %}"><button>LogIn</button></a>
    <a href="{% url 'register' %}"><button>Register</button></a>

    <h3>Total Users:</h3>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

    <p>Signed in as : <strong>{{ request.user }}</strong></p>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    {% endblock %}
</body>
</html>