.react-multiple-carousel__arrow--left {
    left: calc(1% + 1px);
  }
  
  .react-multiple-carousel__arrow--right {
    right: calc(6% + 1px);

  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar:horizontal {
    height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-rose-900 rounded-xl;
  }


  